#weather {
	padding: 40px;
	background-color: #f3f3f3;
	color: #272e38;
}

#weather h1 {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 54px;
	font-weight: 300;
	margin: 0 0 58px;
}

#weather p {
	color: white;
	margin: 0;
}

#weather a {
	color: #fe921f;
	text-decoration: underline;
}

#weather a:hover {
	color: #ffffff
}

#weather .current {
	display: flex;
	flex-direction: row;
	background-color: rgb(23, 57, 85);
	border-radius: 6px;
}

#weather .current .left, #weather .current .right {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	align-content: space-between;
	margin: 1em;
}

#weather .current-temperature {
	font-weight: bold;
	font-size: 3em;
	margin: 0;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 41px;
	font-weight: 300;
}

#weather .gwt-Image {
	/*width: 80%;*/
}

#weather .city {
	/* font-size: 25px; */
	/* margin: 10px; */
	color: #fe921f;
	font-family: 'Lato', sans-serif;
	font-size: 41px;
	font-weight: 500;
	margin: 0;
}

#weather .description {
	margin: 0;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 12px;
}


#weather .rain {
	
}

#weather .wind {
	
}

#weather .clouds {
	
}